/*header css*/
.header{
  width:100%;
  padding:10px 5%;
  
  display: flex;
  justify-content: space-between;
}
.header h1{
  font-size: 40px;
}
.header input{
  border-radius: 5px;
  border:1px solid gray;
  padding:10px;
  margin-top: 10px;
  height: 40px;
  text-indent: 12px;
  outline: none;
  
}


/*news-article css*/
.news-articles{
  width:100%;
  padding:30px 1%;
  background-color:rgb(232, 232, 232);
  display: flex;
  column-gap: 1%;
  flex-wrap: wrap;
  row-gap: 15px;

}
.news{
  width:24%;
  padding:20px;
  background-color: white;
  display:flex;
  flex-direction: column;
  row-gap:10px;
  border-radius: 5px;

}
.news-img{
  width:100%;
  height: 200px;
  background-image: url('https://www.mycashflow.online/cdn/assets/layouts/app/img/img_not_available.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
}
.news-img img{
  max-width:100%;
}
.source{
  display: flex;
  justify-content: space-between;
  color:gray;
   margin-top: auto;
  
}
.source .bottom{
  width:50%;
}